$primary-font: 'Montserrat', sans-serif;

$main-bg-color: #e5e5e5;
$form-bg-color: #ffffff;

$text-color: #5b5b5b;
$primary-text-color: #ffffff;
$span-text-color: #5b5b5b;
$text-focus-color: #c1c1c1;

$box-shadow-color: 5px 10px 30px rgba(0, 0, 0, 0.05);
$border-color: #c1c1c1;
$border-focus-color: #87d78b;

$btn-color: #3c9c41;
$btn-hover-color: #4db252;
$btn-pressed-color: #318636;
