@import 'styles/variables';

.ListRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  border: 1px solid $border-color;
  background-color: $form-bg-color;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px 44px;
  width: 156px;
  font-size: 18px;
  line-height: 22px;

  @media screen and (max-width: 768px) {
    padding: 10px 15px;
    width: 90px;
  }
}

.Icon {
  margin-bottom: 8px;
  height: 32px;
  width: 32px;
  align-items: center;
}
